
/* Typing Animtations Start */
@-webkit-keyframes typing {
  0% {
    content: "I|";
  }
  1% {
    content: "I'|";
  }
  2% {
    content: "I'm|";
  }
  3% {
    content: "I'm S|";
  }
  4% {
    content: "I'm Si|";
  }
  5% {
    content: "I'm Sim|";
  }
  6% {
    content: "I'm Simo|";
  }
  7% {
    content: "I'm Simon|";
  }
  8% {
    content: "I'm Simone|";
  }
  9% {
    content: "I'm Simone |";
  }
  10% {
    content: "I'm Simone O|";
  }
  11% {
    content: "I'm Simone Ol|";
  }
  12% {
    content: "I'm Simone Oli|";
  }
  13% {
    content: "I'm Simone Oliv|";
  }
  14% {
    content: "I'm Simone Olivi|";
  }
  15% {
    content: "I'm Simone Olivia|";
  }
  16% {
    content: "I'm Simone Olivia|";
  }
  17% {
    content: "I'm Simone Olivia|";
  }
  18% {
    content: "I'm Simone Olivia|";
  }
  19% {
    content: "I'm Simone Olivia|";
  }
  20% {
    content: "I'm Simone Olivi|";
  }
  21% {
    content: "I'm Simone Oliv|";
  }
  22% {
    content: "I'm Simone Oli|";
  }
  23% {
    content: "I'm Simone Ol|";
  }
  24% {
    content: "I'm Simone O|";
  }
  25% {
    content: "I'm Simone |";
  }
  26% {
    content: "I'm Simon|";
  }
  27% {
    content: "I'm Simo|";
  }
  28% {
    content: "I'm Sim|";
  }
  29% {
    content: "I'm Si|";
  }
  30% {
    content: "I'm S|";
  }
  31% {
    content: "I'm |";
  }
  32% {
    content: "I'm a|";
  }
  33% {
    content: "I'm a F|";
  }
  34% {
    content: "I'm a Fr|";
  }
  35% {
    content: "I'm a Fre|";
  }
  36% {
    content: "I'm a Free|";
  }
  37% {
    content: "I'm a Freel|";
  }
  38% {
    content: "I'm a Freela|";
  }
  39% {
    content: "I'm a Freelan|";
  }
  40% {
    content: "I'm a Freelanc|";
  }
  41% {
    content: "I'm a Freelance|";
  }
  42% {
    content: "I'm a Freelancer|";
  }
  43% {
    content: "I'm a Freelancer.|";
  }
  44% {
    content: "I'm a Freelancer.|";
  }
  45% {
    content: "I'm a Freelancer.|";
  }
  46% {
    content: "I'm a Freelancer.|";
  }
  47% {
    content: "I'm a Freelancer.|";
  }
  48% {
    content: "I'm a Freelancer|";
  }
  49% {
    content: "I'm a Freelance|";
  }
  50% {
    content: "I'm a Freelanc|";
  }
  51% {
    content: "I'm a Freelan|";
  }
  52% {
    content: "I'm a Freela|";
  }
  53% {
    content: "I'm a Freel|";
  }
  54% {
    content: "I'm a Free|";
  }
  56% {
    content: "I'm a Fre|";
  }
  57% {
    content: "I'm a Fr|";
  }
  58% {
    content: "I'm a F|";
  }
  59% {
    content: "I'm a |";
  }
  60% {
    content: "I'm a P|";
  }
  61% {
    content: "I'm a Ph|";
  }
  62% {
    content: "I'm a Pho|";
  }
  63% {
    content: "I'm a Phot|";
  }
  64% {
    content: "I'm a Photo|";
  }
  65% {
    content: "I'm a Photog|";
  }
  66% {
    content: "I'm a Photogr|";
  }
  67% {
    content: "I'm a Photogra|";
  }
  68% {
    content: "I'm a Photograp|";
  }
  69% {
    content: "I'm a Photograph|";
  }
  70% {
    content: "I'm a Photographe|";
  }
  71% {
    content: "I'm a Photographer|";
  }
  72% {
    content: "I'm a Photographer.|";
  }
  77% {
    content: "I'm a Photographer.|";
  }
  78% {
    content: "I'm a Photographer.|";
  }
  79% {
    content: "I'm a Photographer|";
  }
  80% {
    content: "I'm a Photographe|";
  }
  81% {
    content: "I'm a Photograph|";
  }
  82% {
    content: "I'm a Photograp|";
  }
  83% {
    content: "I'm a Photogra|";
  }
  84% {
    content: "I'm a Photogr|";
  }
  85% {
    content: "I'm a Photog|";
  }
  86% {
    content: "I'm a Photo|";
  }
  87% {
    content: "I'm a Phot|";
  }
  88% {
    content: "I'm a Pho|";
  }
  89% {
    content: "I'm a Po|";
  }
  90% {
    content: "I'm a P|";
  }
  91% {
    content: "I'm a |";
  }
  92% {
    content: "I'm |";
  }

  93% {
    content: "I'm|";
  }
  94% {
    content: "I'|";
  }
  95% {
    content: "I|";
  }
  96% {
    content: "|";
  }
}
@keyframes typing {
  0% {
    content: "I|";
  }
  1% {
    content: "I'|";
  }
  2% {
    content: "I'm|";
  }
  3% {
    content: "I'm S|";
  }
  4% {
    content: "I'm Si|";
  }
  5% {
    content: "I'm Sim|";
  }
  6% {
    content: "I'm Simo|";
  }
  7% {
    content: "I'm Simon|";
  }
  8% {
    content: "I'm Simone|";
  }
  9% {
    content: "I'm Simone |";
  }
  10% {
    content: "I'm Simone O|";
  }
  11% {
    content: "I'm Simone Ol|";
  }
  12% {
    content: "I'm Simone Oli|";
  }
  13% {
    content: "I'm Simone Oliv|";
  }
  14% {
    content: "I'm Simone Olivi|";
  }
  15% {
    content: "I'm Simone Olivia|";
  }
  16% {
    content: "I'm Simone Olivia|";
  }
  17% {
    content: "I'm Simone Olivia|";
  }
  18% {
    content: "I'm Simone Olivia|";
  }
  19% {
    content: "I'm Simone Olivia|";
  }
  20% {
    content: "I'm Simone Olivi|";
  }
  21% {
    content: "I'm Simone Oliv|";
  }
  22% {
    content: "I'm Simone Oli|";
  }
  23% {
    content: "I'm Simone Ol|";
  }
  24% {
    content: "I'm Simone O|";
  }
  25% {
    content: "I'm Simone |";
  }
  26% {
    content: "I'm Simon|";
  }
  27% {
    content: "I'm Simo|";
  }
  28% {
    content: "I'm Sim|";
  }
  29% {
    content: "I'm Si|";
  }
  30% {
    content: "I'm S|";
  }
  31% {
    content: "I'm |";
  }
  32% {
    content: "I'm a|";
  }
  33% {
    content: "I'm a F|";
  }
  34% {
    content: "I'm a Fr|";
  }
  35% {
    content: "I'm a Fre|";
  }
  36% {
    content: "I'm a Free|";
  }
  37% {
    content: "I'm a Freel|";
  }
  38% {
    content: "I'm a Freela|";
  }
  39% {
    content: "I'm a Freelan|";
  }
  40% {
    content: "I'm a Freelanc|";
  }
  41% {
    content: "I'm a Freelance|";
  }
  42% {
    content: "I'm a Freelancer|";
  }
  43% {
    content: "I'm a Freelancer.|";
  }
  44% {
    content: "I'm a Freelancer.|";
  }
  45% {
    content: "I'm a Freelancer.|";
  }
  46% {
    content: "I'm a Freelancer.|";
  }
  47% {
    content: "I'm a Freelancer.|";
  }
  48% {
    content: "I'm a Freelancer|";
  }
  49% {
    content: "I'm a Freelance|";
  }
  50% {
    content: "I'm a Freelanc|";
  }
  51% {
    content: "I'm a Freelan|";
  }
  52% {
    content: "I'm a Freela|";
  }
  53% {
    content: "I'm a Freel|";
  }
  54% {
    content: "I'm a Free|";
  }
  56% {
    content: "I'm a Fre|";
  }
  57% {
    content: "I'm a Fr|";
  }
  58% {
    content: "I'm a F|";
  }
  59% {
    content: "I'm a |";
  }
  60% {
    content: "I'm a P|";
  }
  61% {
    content: "I'm a Ph|";
  }
  62% {
    content: "I'm a Pho|";
  }
  63% {
    content: "I'm a Phot|";
  }
  64% {
    content: "I'm a Photo|";
  }
  65% {
    content: "I'm a Photog|";
  }
  66% {
    content: "I'm a Photogr|";
  }
  67% {
    content: "I'm a Photogra|";
  }
  68% {
    content: "I'm a Photograp|";
  }
  69% {
    content: "I'm a Photograph|";
  }
  70% {
    content: "I'm a Photographe|";
  }
  71% {
    content: "I'm a Photographer|";
  }
  72% {
    content: "I'm a Photographer.|";
  }
  77% {
    content: "I'm a Photographer.|";
  }
  78% {
    content: "I'm a Photographer.|";
  }
  79% {
    content: "I'm a Photographer|";
  }
  80% {
    content: "I'm a Photographe|";
  }
  81% {
    content: "I'm a Photograph|";
  }
  82% {
    content: "I'm a Photograp|";
  }
  83% {
    content: "I'm a Photogra|";
  }
  84% {
    content: "I'm a Photogr|";
  }
  85% {
    content: "I'm a Photog|";
  }
  86% {
    content: "I'm a Photo|";
  }
  87% {
    content: "I'm a Phot|";
  }
  88% {
    content: "I'm a Pho|";
  }
  89% {
    content: "I'm a Po|";
  }
  90% {
    content: "I'm a P|";
  }
  91% {
    content: "I'm a |";
  }
  92% {
    content: "I'm |";
  }

  93% {
    content: "I'm|";
  }
  94% {
    content: "I'|";
  }
  95% {
    content: "I|";
  }
  96% {
    content: "|";
  }
}
/* Typing Animtations End */

@-webkit-keyframes down-btn {
  0% {
    bottom: 8%;
  }
  100% {
    bottom: 3%;
  }
}

@keyframes down-btn {
  0% {
    bottom: 8%;
  }
  100% {
    bottom: 3%;
  }
}
